.card {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    position: relative;
    width: 100%;
    height: auto;
    color: #fff;
    cursor: pointer;
}

.card_preview {
    position: relative;
    .img_wrap {
        width: 100%;
        aspect-ratio: 16 / 9;
        position: relative;
    }
    img {
        display: block;
        object-fit: cover;
    }
}

.card_header {
    background-color: var(--default-glass);
    width: 100%;
    display: flex;
    padding: 0.4rem;
    align-items: center;
    justify-content: space-between;

    .channel_title {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
        img {
            border-radius: 50%;
            border: 1px solid white;
            margin-right: 0.4rem;
        }
    }

    .channel_price {
        display: flex;
        flex-direction: column;

        span:first-child {
            font-size: 15px;
            line-height: 18px;
        }
        span:last-child {
            font-size: 15px;
            line-height: 18px;
            background: linear-gradient(270deg, #609fff 0%, #b18cff 50%, #cc61ff 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            font-weight: bold;
        }
    }
}


.card_info {
    padding: 0.4rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .video_title {
        font-size: 16px;
        line-height: 22px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;  
        -webkit-line-clamp: 2;
        margin-bottom: 0.5rem;
    }

    .video_details {
        display: flex;
        gap: 1.4rem;
        .details_item {
            display: flex;
            align-items: center;
            gap: 0.4rem;
            img {
                width: 14px;
                height: 14px;
            }
            p {
                font-size: 11px;
                line-height: 1;
            }
        }
    }
}