.card {
    display: flex;
    flex-direction: column;
    font-size: 15px;

    width: 290px;
    // height: 320px;

    color: #fff;
    transition: 0.5s all;

    &:hover {
        -webkit-box-shadow: 0px 0px 10px 8px rgba(68, 120, 233, 0.5);
        -moz-box-shadow: 0px 0px 10px 8px rgba(68, 120, 233, 0.5);
        box-shadow: 0px 0px 10px 8px rgba(68, 120, 233, 0.5);
    }

    &__preview {
        position: relative;

        &__bottom {
            position: absolute;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 290px;
            height: 50px;
            padding: 0 15px;

            background: rgba(0, 0, 0, 0.7);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);

            &_title {
                display: flex;
                align-items: center;
                gap: 8px;
                font-weight: 400;
                font-size: 13px;
            }

            &_info {
                span {
                    font-size: 15px;
                    font-weight: 600;
                    background: -webkit-linear-gradient(
                        to top right,
                        var(--main-color-blue) 24%,
                        var(--main-color-purple) 43%,
                        var(--main-color-pink) 77%
                    );
                    background: -moz-linear-gradient(
                        to top right,
                        var(--main-color-blue) 24%,
                        var(--main-color-purple) 43%,
                        var(--main-color-pink) 77%
                    );
                    background: linear-gradient(
                        to top right,
                        var(--main-color-blue) 24%,
                        var(--main-color-purple) 43%,
                        var(--main-color-pink) 77%
                    );
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }

    &__info {
        h3 {
            font-weight: 400;
            font-size: 15px;
        }
        padding: 10px 15px;

        &_bottom {
            display: flex;
            gap: 25px;
            margin-top: 15px;
            font-size: 13px;

            div {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }
}
