.launchpad_card {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background: #141B22;
  position: relative;
  margin-top: 27px;
  margin-right: 20px;
}
.launchpad_card .card_corner_bottom {
  position: absolute;
  bottom: -20px;
  right: -20px;
}
.launchpad_card .card_corner_top {
  position: absolute;
  top: -20px;
  left: -20px;
}
.launchpad_card .card_img {
  width: 100%;
  background: url("../../../assets/launchpad_card_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.launchpad_card .card_img .card_play {
  width: 98.22px;
  height: 98.22px;
}
.launchpad_card .card_body .card_title {
  font-size: 40.8849px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 10px;
}
.launchpad_card .card_body .card_stats {
  display: flex;
  justify-content: space-around;
}
.launchpad_card .card_body .card_stats .stat_block_one {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.23);
  -webkit-backdrop-filter: blur(30.6733px);
          backdrop-filter: blur(30.6733px);
  /* Note: backdrop-filter has minimal browser support */
  padding: 15px 30px;
  border-radius: 6.59433px 0px 0px 6.59433px;
}
.launchpad_card .card_body .card_stats .stat_block_one .top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.launchpad_card .card_body .card_stats .stat_block_one .top .users_amount {
  font-size: 19.783px;
  color: #fff;
}
.launchpad_card .card_body .card_stats .stat_block_one .members {
  text-align: center;
  font-size: 19.783px;
  color: #fff;
}
.launchpad_card .card_body .card_stats .stat_block_two {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.23);
  -webkit-backdrop-filter: blur(30.6733px);
          backdrop-filter: blur(30.6733px);
  /* Note: backdrop-filter has minimal browser support */
  padding: 18px 30px;
  border-radius: 0px 6.59433px 6.59433px 0px;
}
.launchpad_card .card_body .card_stats .stat_block_two .text_one {
  background: linear-gradient(270deg, #EA00D5 -6.27%, #3D5EFF 60.51%, #00EAF2 109.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 400;
  font-size: 19.783px;
}
.launchpad_card .card_body .card_stats .stat_block_two .text_two {
  font-weight: 400;
  font-size: 18.4641px;
  color: #FFFFFF;
  margin-top: 4px;
}
.launchpad_card .card_body .card_text {
  font-weight: 400;
  font-size: 18.7569px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 26px;
  color: #FFFFFF;
  padding: 0 20px;
}
.launchpad_card .card_body .card_info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.launchpad_card .card_body .card_info .date h2 {
  font-weight: 400;
  font-size: 18.7569px;
  color: #FFFFFF;
}
.launchpad_card .card_body .card_info .date h1 {
  font-weight: 400;
  font-size: 23px;
  color: #FFFFFF;
}
.launchpad_card .card_body .card_info .card_tags {
  margin-bottom: 10px;
}
.launchpad_card .card_body .card_info .card_tags div {
  background: #131217;
  color: #6BB8FF;
  font-weight: 400;
  font-size: 18.9425px;
  padding: 5px 10px;
  margin-top: 2px;
}/*# sourceMappingURL=LaunchpadCard.module.css.map */