{
//  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "jest"],
  "extends": ["@salesforce/eslint-config-lwc/recommended"],
  "env": {
    "jest/globals": true
  },
  "rules": {
//    "jest/no-deprecated-functions": "error",
    "no-redeclare": "off"
  }
}