@import "@/styles/theme";

.sidebar {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    color: #fff;
    overflow-x: visible;
    &_video {
        width: 100%;
        aspect-ratio: 16 /9;
        margin-bottom: 1.3rem;
        &_wrap {
            width: 100%;
            height: 100%;
        }
    }
    /* Show Subscribers */
    &_sorts {
        display: flex;
        padding: 20px;
        justify-content: space-between;

        .byCategory {
            display: flex;
            align-items: center;
            font-size: 16px;
            background-color: var(--dark-glass);
            padding-left: 0.7rem;
            padding-right: 1.125rem;
            gap: 1.125rem;
            cursor: pointer;
            img {
                align-self: stretch;
                height: 100%;
                aspect-ratio: 1 / 1;
                display: block;
                width: 1rem;
            }
        }
        .view_all {
            font-size: 16px;
            padding: 0.75rem;
            background-color: var(--dark-glass);
            cursor: pointer;
        }
    }
    .channels {
        background: var(--default-glass);
        backdrop-filter: blur(2px);
        overflow-y: hidden;
        overflow-x: visible;
        display: flex;
        flex-direction: column;
        position: relative;

        @include light {
            background: rgba(192, 192, 192, 0.1);
        }

        .table_wrap {
            overflow-y: scroll;
            overflow-x: hidden;
            scroll-behavior: smooth;
            position: relative;
        }
    }

    /* detail channel */
    .subs_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 34px;
        &_head {
            display: flex;
            align-items: center;

            .back_btn {
                cursor: pointer;
                padding: 10px 15px;
                margin-bottom: auto;
                background: rgba(255, 255, 255, 0.35);
                box-shadow: inset 3.5875px 3.5875px 24.2156px rgba(255, 255, 255, 0.04);
                backdrop-filter: blur(46.5146px);
            }
            .subs_titles {
                display: flex;
                align-items: center;
                margin-left: 22px;
                .subs_title {
                    font-weight: 400;
                    font-size: 30.3701px;
                    line-height: 43px;
                    margin-left: 21px;
                }
            }
        }
        .go_to_channel {
            padding: 22px 30px;
            font-weight: 400;
            font-size: 22.32px;
            cursor: pointer;
            background: linear-gradient(273.52deg, rgba(0, 234, 242, 0.2) -54.44%, rgba(234, 0, 213, 0.2) 110.67%);
            backdrop-filter: blur(9px);
        }
    }
    .about_channel {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 52px;
        margin-bottom: 50px;
        &_box {
            cursor: pointer;
            text-align: center;
            width: calc(33.33% - 18px);
            padding: 18px 0;
            background: rgba(255, 255, 255, 0.05);
            box-shadow: inset 3.5875px 3.5875px 24.2156px rgba(255, 255, 255, 0.04);
            backdrop-filter: blur(46.5146px);
            .value {
                font-size: 26px;
                margin-bottom: 10px;
            }
            .key {
                font-weight: 400;
                font-size: 20px;
            }
            &:hover {
                .value {
                    color: #ea00d5;
                }
            }
        }
    }
    .subs_videos {
        .subs_img {
            aspect-ratio: 16/9;
            border-radius: 10px;
            overflow: hidden;
            margin-bottom: 10px;
            position: relative;
            img {
                width: 100%;
                display: block;
            }
        }
        &_box {
            position: relative;
            width: 267px;
            border-radius: 12px;
            margin: 0 7px 0 7px;
            cursor: pointer;
        }
        &_main {
            width: 100%;
            border-radius: 12px;
            .videos_timeline {
                position: absolute;
                z-index: 2;
                font-size: 14px;
                border-radius: 10px;
                bottom: 15px;
                left: 15px;
                padding: 5px 10px;
                background: rgba(31, 26, 33, 0.11);
                backdrop-filter: blur(10.2876px);
                border: 1px solid rgba(0, 234, 242, 1);
                cursor: pointer;
            }
        }
        &_names {
            font-weight: 400;
            font-size: 21px;
        }
        &_video {
            display: flex;
            width: 100%;
            overflow-x: scroll;
            // & > *:not(:last-child) {
            //     margin-right: 15px;
            // }
        }
        &_header {
            font-weight: 400;
            font-size: 28.9577px;
            line-height: 41px;
            margin-bottom: 18px;
        }
    }
    .table_value:hover {
        background: #141c25;
    }
    /* Show Detail */
}
.content {
    flex: 1 1 67%;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 0 16px;
}
.content_tranding {
    height: 130px;
}
