.community_main {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.community_main .community_feed {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 100%;
  overflow-y: scroll;
  max-width: 1050px;
}
.community_main .community_feed .community_feed_title {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #000;
  background: linear-gradient(273.52deg, rgba(0, 234, 242, 0.2) -54.44%, rgba(234, 0, 213, 0.2) 110.67%);
  -webkit-backdrop-filter: blur(8.96875px);
          backdrop-filter: blur(8.96875px);
  display: flex;
  justify-content: center;
  border: 2px solid rgba(128, 0, 128, 0.607);
}
.community_main .community_feed .community_feed_title h1 {
  color: white;
  font-size: 28px;
  font-weight: 350;
  padding: 8px 0;
}
.community_main .community_feed .community_item {
  border-bottom: 1px solid rgb(45, 53, 74);
  height: 400px;
  width: 100%;
  padding-right: 20px;
  margin-top: 20px;
}
.community_main .community_feed .community_item .community_item_userdata {
  display: flex;
  align-items: center;
}
.community_main .community_feed .community_item .community_item_userdata .community_item_avatar {
  margin-right: 16px;
  align-self: flex-start;
  margin-top: 10px;
}
.community_main .community_feed .community_item .community_item_userdata .community_item_details .community_item_details_info {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.community_main .community_feed .community_item .community_item_userdata .community_item_details .community_item_details_info .community_item_details_name .name {
  color: #FFFFFF;
  font-size: 23px;
}
.community_main .community_feed .community_item .community_item_userdata .community_item_details .community_item_details_info .community_item_details_date .submission_time {
  color: #8E8E8E;
  font-size: 16px;
  margin-left: 20px;
}
.community_main .community_feed .community_item .community_item_userdata .community_item_details .community_item_details_comment {
  margin-top: 17px;
}
.community_main .community_feed .community_item .community_item_userdata .community_item_details .community_item_details_comment .comment {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 350;
}
.community_main .community_feed .community_item .community_item_userdata .community_item_details .community_item_details_likes {
  display: flex;
  align-items: center;
  margin: 24px 0 30px 0;
}
.community_main .community_feed .community_item .community_item_userdata .community_item_details .community_item_details_likes .like {
  margin-right: 11px;
}
.community_main .community_feed .community_item .community_item_userdata .community_item_details .community_item_details_likes .like, .community_main .community_feed .community_item .community_item_userdata .community_item_details .community_item_details_likes .dislike {
  cursor: pointer;
}
.community_main .community_feed .community_item .community_item_userdata .community_item_details .community_item_details_likes .likeAmount {
  color: #8E8E8E;
  font-size: 16px;
  margin-right: 53px;
}
.community_main .community_feed .community_item .community_item_userdata .community_item_details .comment_img {
  margin: 30px 0 60px 0;
}/*# sourceMappingURL=Community.module.css.map */