.community_main {
    width: 100vw !important;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(400px, 1fr) minmax(1000px, 2fr);

    .community_feed {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: scroll;
        background: rgba(255, 255, 255, 0.021);
        box-shadow: inset 4px 4px 27px rgba(255, 255, 255, 0.021);
        backdrop-filter: blur(51.863px);

        .community_feed_title {
            width: 100%;
            height: fit-content;
            background: linear-gradient(273.52deg, rgba(0, 234, 242, 0.2) -54.44%, rgba(234, 0, 213, 0.2) 110.67%);
            backdrop-filter: blur(8.96875px);
            display: flex;
            justify-content: center;
            border: 2px solid rgba(128, 0, 128, 0.607);

            h1 {
                color: white;
                font-size: 26px;
                font-weight: 350;
                padding: 8px 0;
            }
        }
    }

    .community_chat {
        position: relative;

        .community_chat_users::-webkit-scrollbar {
            height: 5px !important;
        }

        .community_chat_users {
            background: rgba(255, 255, 255, 0.05);
            box-shadow: inset 4px 4px 27px rgba(255, 255, 255, 0.04);
            backdrop-filter: blur(51.863px);
            display: flex;
            flex-direction: row;
            align-items: center;
            overflow-x: scroll;
            height: fit-content;
        }

        .community_chat_stat {
            width: 100%;
            height: max-content;
            background-color: #141C25;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .community_chat_stat_logo {
                display: flex;
                align-items: center;

                .img {
                    margin: 10px;
                }

                .text {
                    .title {
                        font-weight: bold;
                        font-size: 40px;
                        color: #FFFFFF;
                    }

                    .details {
                        font-weight: 400;
                        font-size: 22px;
                        color: #FFFFFF;

                        span {
                            background: linear-gradient(270deg, #EA00D5 -6.27%, #3D5EFF 60.51%, #00EAF2 109.84%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            background-clip: text;
                            font-weight: bold;
                        }
                    }
                }
            }

            .community_chat_stat_info {
                width: fit-content;
                display: flex;
                flex-direction: column;

                .stat_block {
                    padding: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                    font-size: 22px;
                    margin: 5px;
                    color: #FFFFFF;
                    background: rgba(0, 0, 0, 0.23);
                    backdrop-filter: blur(34.247px);
                    width: 100%;

                    span {
                        background: linear-gradient(270deg, #EA00D5 -6.27%, #3D5EFF 60.51%, #00EAF2 109.84%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        margin-left: 10px;
                        font-size: 18px;
                    }
                }
            }

            .community_chat_stat_dropdown {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #44485b;
                align-self: stretch;
                height: 150px !important;
                padding-left: 25px;
                cursor: pointer;

                .stat_text {
                    margin-right: 50px;

                    h1 {
                        color: #FFFFFF;
                        font-weight: 400;
                        font-size: 26px;
                    }

                    h2 {
                        color: #EA00D5;
                        font-weight: 400;
                        font-size: 22px;
                    }
                }

                .img {
                    margin-right: 20px;
                }
            }
        }

        .community_chat_messages {
            width: 100%;
            height: calc(60vh - 40px);
            overflow-y: scroll;
            position: relative;
        }

        .message_form {
            position: absolute;
            bottom: 11%;
            z-index: 1;
            width: 100%;
            background: #141C25;
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 5px 0;

            .form_icons {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;

                .icon:nth-child(1) {
                    width: 25px;
                    height: 25px;
                }

                .icon:nth-child(2) {
                    width: 40px;
                    height: 40px;
                }
            }

            form {
                width: 80%;

                input[type=text]:focus {
                    border: none !important;
                }

                input[type=text] {
                    width: 100%;
                    background: transparent;
                    border: none;
                    border-left: 2px solid #5F6771 !important;
                    color: #5F6771;
                    font-weight: 400;
                    font-size: 22px;
                    padding-left: 2px;
                }
            }

            .submit_btn {
                display: flex;
                align-items: center;
                justify-content: center;
                background: linear-gradient(106.95deg, rgba(1, 167, 255, 0.8) 0.4%, rgba(255, 0, 245, 0.8) 103.58%);
                box-shadow: inset 11px 16px 33px rgba(255, 255, 255, 0.11);
                backdrop-filter: blur(93px);
                border-radius: 5px;
                padding: 8px;
                cursor: pointer;
            }
        }
    }
}