.wrapper {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;

    .first {
        .numbers {
            display: inline-block;
            color: #FFFFFF;
            font-weight: 350;
            font-size: 20px;

            .number {
                display: inline-block;
                padding: 3px 8px;
            }

            .first {
                display: inline-block;
                border: solid;
                border-image-slice: 1;
                border-width: 2px;
                background-color: rgba(0, 0, 0, 0.35);
                border-image-source: linear-gradient(to left, rgba(4, 204, 216, 0.6), rgba(52, 119, 254, 0.6), rgba(188, 27, 225, 0.6));
            }
        }
    }

}