.rankings_wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    .rankings_container {
        width: fit-content;
        display: flex;
        gap: 20px;
        .ranking_one {
            background: url('../../assets/trending_videos.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            width: 300px;
            height: 130px;
            display: flex;
            justify-content: center;
            align-items:center;
            h1 {
                color: #fff;
                font-size: 24px;   
            }
            .img {
                position: absolute;
                bottom: 0;
                right: 0;
                cursor: pointer;
                margin: 0 5px 5px 0;
            }
        }
        .ranking_two {
            background: url('../../assets/crypto_news.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            width: 300px;
            height: 130px;
            display: flex;
            justify-content: center;
            align-items:center;
            h1 {
                color: #fff;
                font-size: 24px;   
            }
            .img {
                position: absolute;
                bottom: 0;
                right: 0;
                cursor: pointer;
                margin: 0 5px 5px 0;
            }
        }
        .ranking_three {
            background: url('../../assets/eth_nft.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;width: 300px;
            height: 130px;
            display: flex;
            justify-content: center;
            align-items:center;
            h1 {
                color: #fff;
                font-size: 24px;   
            }
            .img {
                position: absolute;
                bottom: 0;
                right: 0;
                cursor: pointer;
                margin: 0 5px 5px 0;
            }
        }
        .ranking_four {
            background: url('../../assets/play_to_earn.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            width: 300px;
            height: 130px;
            display: flex;
            justify-content: center;
            align-items:center;
            h1 {
                color: #fff;
                font-size: 24px;   
            }
            .img {
                position: absolute;
                bottom: 0;
                right: 0;
                cursor: pointer;
                margin: 0 5px 5px 0;
            }
        }
        .ranking_five {
            background: url('../../assets/play_to_earn.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            width: 300px;
            height: 130px;
            display: flex;
            justify-content: center;
            align-items:center;
            h1 {
                color: #fff;
                font-size: 24px;   
            }
            .img {
                position: absolute;
                bottom: 0;
                right: 0;
                cursor: pointer;
                margin: 0 5px 5px 0;
            }
        }
    }
}