.rankings_wrapper {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    .rankings_container {
        width: 85%;
        display: flex;
        gap: 20px;

        .ranking {
            background-position: center center !important;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            width: 300px;
            height: 130px;
            display: flex;
            justify-content: center;
            align-items:center;
            cursor: pointer;
            h1 {
                color: #fff;
                font-size: 22px;   
            }
            .img {
                position: absolute;
                bottom: 0;
                right: 0;
                cursor: pointer;
                margin: 0 5px 5px 0;
            }
        }

        .ranking_one {
            background: url('../../assets/trending_videos.png') !important;
            background-position: center center !important;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .ranking_two {
            background: url('../../assets/crypto_news.png') !important;
            background-position: center center !important;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .ranking_three {
            background: url('../../assets/eth_nft.png') !important;
            background-position: center center !important;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .ranking_four {
            background: url('../../assets/play_to_earn.png') !important;
            background-position: center center !important;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .ranking_five {
            background: url('../../assets/play_to_earn.png');
            background-position: center center !important;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}