.card_grid {
    display: flex;
    margin-left: 40px;
    margin: 50px 0;
    justify-content: center;
    align-items: center;
    .card_main {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .ranking_boxs {
        overflow-y: none;
        display: flex;
        gap: 10px 40px;
        padding-top: 10px;
        .simple {
            cursor: pointer;
            clip-path: polygon(50% 7%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
            position: relative;
            width: 100%;
            height: 430px;
            background: #00eaf2;
            transition: all 0.3s ease;
            .second {
                clip-path: polygon(
                    50% 7%,
                    100% 0,
                    100% 85%,
                    50% 100%,
                    0 85%,
                    0 0
                );
                position: absolute;
                z-index: 10;
                top: 2px;
                left: 2px;
                width: calc(100% - 4px);
                height: 426px;
                background: #141c25;
                .box_header {
                    clip-path: polygon(
                        50% 7%,
                        100% 0,
                        100% 85%,
                        50% 100%,
                        0 85%,
                        0 0
                    );
                    position: relative;
                    z-index: 1;
                    .video_box_img {
                        // width: 240px;
                        width: 100%;
                        height: 150px;
                        object-fit: cover;
                    }
                    .video_pause {
                        border-radius: 50%;
                        background: #000000;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        backdrop-filter: blur(7px);
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        padding: 35px;
                        .video_box_pause {
                            width: 20px;
                            height: 40px;
                            object-fit: cover;
                            position: absolute;
                            top: 50%;
                            left: 55%;
                            transform: translate(-55%, -50%);
                        }
                    }
                }
                .box_body {
                    position: relative;
                    .box_title {
                        text-align: center;
                        font-size: 16px;
                        margin-bottom: 10px;
                    }
                    .box_buttons {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 10px;
                        margin-bottom: 5px;
                        .box_button {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            padding: 5px;
                            background: rgba(0, 0, 0, 0.23);
                            backdrop-filter: blur(34.247px);
                            &_header {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                .count {
                                    font-family: 'Octosquares-Bold';
                                    font-weight: 400;
                                    font-size: 16px;
                                }
                                .member_icon {
                                    width: 30px;
                                    height: 30px;
                                    margin-right: 10px;
                                }
                            }
                            &_title {
                                font-family: 'Octosquares-Bold';
                                font-weight: 400;
                                font-size: 16px;
                                background: linear-gradient(
                                    270deg,
                                    #ea00d5 -6.27%,
                                    #3d5eff 60.51%,
                                    #00eaf2 109.84%
                                );
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                background-clip: text;
                            }
                            &_footer {
                                font-weight: 400;
                                font-size: 16px;
                            }
                        }
                    }
                    .tag_content {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        // padding-bottom: 10px;
                        .tag {
                            padding: 3px 7px;
                            // background: #131217;
                            font-weight: 400;
                            font-size: 16px;
                            color: #6bb8ff;
                            &:not(:last-child) {
                                margin-bottom: 5px;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
            &:hover {
                clip-path: polygon(
                    50% 7%,
                    100% 0,
                    100% 85%,
                    50% 100%,
                    0 85%,
                    0 0
                );
                background: linear-gradient(
                    95deg,
                    rgba(1, 167, 255, 0.8) 0.4%,
                    rgba(255, 0, 245, 0.8) 103.58%
                );
            }
        }
    }

    // box from Launchpad
    .card_loop {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        transition: all 0.3s ease;
        &:hover {
            transform: scale(1.01);
        }
    }
    .card_box {
        width: 100%;
        padding: 2px;
        overflow: hidden;
        .video_header {
            cursor: pointer;
            position: relative;
            .video_header_logo {
                width: 100%;
                height: 150px;
                object-fit: cover;
            }
            .video_pause {
                border-radius: 50%;
                background: #000000;
                box-shadow: 0px 3.63217px 39.9538px rgba(0, 0, 0, 0.44);
                backdrop-filter: blur(7px);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 30px;
                .video_box_pause {
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    top: 50%;
                    left: 55%;
                    transform: translate(-55%, -50%);
                }
            }
        }
        .video_body {
            position: relative;
            padding: 0 10px;
            margin-top: -35px;
            background: none;
            .box_title {
                margin-top: 30px;
                text-align: center;
                font-weight: 400;
                font-size: 20px;
                margin-bottom: 15px;
                padding-top: 10px;
            }
            .box_buttons {
                min-width: 300px;
                display: flex;
                justify-content: space-between;
                gap: 10px;
                margin-bottom: 20px;
                .box_button {
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 10px 20px;
                    background: rgba(0, 0, 0, 0.23);
                    backdrop-filter: blur(47.6218px);
                    &_header {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .count {
                            font-family: 'Octosquares-Bold';
                            font-weight: 400;
                            font-size: 20px;
                        }
                        .member_icon {
                            width: 30px;
                            height: 30px;
                            margin-right: 10px;
                        }
                    }
                    &_title {
                        font-family: 'Octosquares-Bold';
                        font-weight: 400;
                        font-size: 20px;
                        background: linear-gradient(
                            270deg,
                            #ea00d5 -6.27%,
                            #3d5eff 60.51%,
                            #00eaf2 109.84%
                        );
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                    }
                    &_footer {
                        white-space: nowrap;
                        font-weight: 400;
                        font-size: 16px;
                    }
                }
            }
            .box_text {
                text-align: center;
                font-weight: 400;
                font-size: 16px;
                margin-bottom: 20px;
                padding: 0 10px;
            }
            .box_footer {
                padding: 0 5px;
                display: flex;
                justify-content: center;
                padding-bottom: 10px;
                .footer_dates {
                    .date_text {
                        font-size: 16px;
                    }
                    .date_value {
                        font-size: 16px;
                    }
                }
                .tag_content {
                    display: flex;
                    margin-right: 7px;
                    .tag {
                        width: fit-content;
                        padding: 3px 13px;
                        background: none;
                        font-weight: 400;
                        font-size: 16px;
                        color: #6bb8ff;
                        &:not(:last-child) {
                            margin-bottom: 5px;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        &:hover {
            &:before {
                content: '';
                position: absolute;
                width: 1000px;
                height: 100%;
                background: linear-gradient(
                    106.95deg,
                    rgba(1, 167, 255, 0.8) 0.4%,
                    rgba(255, 0, 245, 0.8) 103.58%,
                    rgba(255, 0, 245, 0.8) 103.58%
                );
                animation: animate 5s linear infinite;
            }
            @keyframes animate {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        }
    }
}

.sortByDate {
    display: flex;
    margin-right: 20px;
    border: 1px solid rgba(234, 0, 213, 0.5);
}
.dateItem {
    width: 300px;
    color: white;
    background-color: #141c25;
    cursor: pointer;
    padding: 10px 20px;
    font-weight: 400;
    margin: 0;
}
.active {
    background: linear-gradient(
        273.52deg,
        rgba(0, 234, 242, 0.2) -54.44%,
        rgba(234, 0, 213, 0.2) 110.67%
    );
}

.table_content {
    position: relative;
    padding: 20px 80px 30px;
}

.mainContainer {
    display: flex;
    gap: 12px;
    margin: 0 100px 30px;
    position: relative;
}

.main {
    width: 18%;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    img:nth-child(1) {
        width: 98%;
        height: 100%;
        opacity: 0.8;
    }

    h3 {
        position: absolute;
        left: 18%;
        top: 30%;
        font-weight: 400;
        font-size: 25px;
        line-height: 44px;
        color: #fff;
    }

    .plus {
        max-width: 40px;
        position: absolute;
        size: 250px;
        right: 2px;
        bottom: -4px;
        border-radius: 50%;
        background: none;
        opacity: 0.4;
        box-sizing: content-box;
        padding: 10px;
    }
}

.table_inner {
    .table_content_inner {
        .sidebar_sort {
            display: flex;
            align-items: center;
            height: 63px;
            margin-top: 5px;
            margin-left: 66px;
            cursor: pointer;

            .sortByDate {
                background: #141c25;
                margin-right: 30px;
                width: 320.73px;
                display: flex;
                align-items: center;
                border-radius: 3.35px;

                .date {
                    padding: 10px 20px;
                    width: 60%;
                    font-size: 16px;
                    text-align: center;
                    &.active {
                        background: linear-gradient(
                            273.52deg,
                            rgba(0, 234, 242, 0.2) -54.44%,
                            rgba(234, 0, 213, 0.2) 110.67%
                        );
                        backdrop-filter: blur(10.5966px);
                    }
                    &:hover {
                        background: linear-gradient(
                            273.52deg,
                            rgba(0, 234, 242, 0.2) -54.44%,
                            rgba(234, 0, 213, 0.2) 110.67%
                        );
                        backdrop-filter: blur(10.5966px);
                    }
                }
            }

            .sort_byCategory {
                margin-right: 30px;
                background: #141c25;
                border-radius: 3.35px;
                display: flex;
                align-items: center;
                padding: 10px 20px;
                border: 1px solid rgba(234, 0, 213, 0.5);
                .byCategory_text {
                    font-weight: 400;
                    font-size: 16px;
                    text-align: center;
                    margin-right: 15px;
                    color: #fff;
                }
                .byCategory_svg {
                    margin-right: 30px;
                    width: 12%;
                    height: 12%;
                }
            }
            .header_tabs {
                cursor: pointer;
                display: flex;
                align-items: center;
                margin-right: 20px;
                .header_tab {
                    color: #fff;
                    padding: 9px 20px;
                    background: linear-gradient(
                        0deg,
                        rgba(85, 85, 85, 0.14),
                        rgba(85, 85, 85, 0.14)
                    );
                    backdrop-filter: blur(14.511px);
                    border-radius: 3.35px;
                    font-size: 16px;
                    border: 0.76px solid rgba(234, 0, 213, 0.5);
                    &:first-child {
                        margin-right: 25px;
                        background: linear-gradient(
                            273.52deg,
                            rgba(0, 234, 242, 0.2) -54.44%,
                            rgba(234, 0, 213, 0.2) 110.67%
                        );
                        border: 0.97px solid rgba(234, 0, 213, 0.5);
                    }
                }
            }
        }
    }
}
