.launchpad {
    width: 100vw;
    height: 100vh;
    padding: 0 20px;

    .launchpad_cards {
        height: calc(100% - 320px);
        display: flex;
        overflow-y: scroll;
        .swiper {
            width: 100%;
            overflow-y: scroll;
        }
    }
}