.table {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    border-spacing: 0;
    overflow-x: hidden;

    thead {
        tr {
            th {
                padding-bottom: 15px;
                font-weight: 400;
                &:nth-child(2) {
                    text-align: left;
                }
            }
        }
    }

    tbody {
        tr {
            cursor: pointer;
            transition: transform ease-in-out;
            transition-duration: .5s;
            transform-origin: center center;
            will-change: background-color, transform, box-shadow;
            &:hover {
                background-color: var(--dark-glass);
                box-shadow: 3px 3px 44px -1px #2b073b7e;
                transform: scale(1.03);
                transition-duration: .2s;
            }
            td {
                padding: .6rem .3rem;
                &:not(:nth-child(2)) {
                    text-align: center;
                }
            }
        }
    }

    .channel_name {
        display: flex;
        gap: .4rem;
        align-items: center
    }

    .cell_gradient {
        color: #CC61FF
    }
}
