@import url('../fonts/stylesheet.css');

:root {
    --main-color-gray: #0d1429;
    --main-color-pink: #ea00d5;
    --main-color-purple: #3d5eff;
    --main-color-blue: #00eaf2;

    --main-background: linear-gradient(
        90deg,
        var(--main-color-gray),
        var(--main-color-pink)
    );

    --scrollbar-gradient: linear-gradient(
        var(--main-color-blue),
        var(--main-color-pink)
    );
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'TT Octosquares';
}

.layout {
    background: url('../assets/background.jpg') no-repeat center center / cover;
    width: 100vw;
    height: 100vh;   
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 5px;

    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-gradient);
    border-radius: 6px;
}
