@import url('../fonts/stylesheet.css');

:root {
    --dark-glass: rgba(17, 17, 17, 0.7);
    --default-glass: rgba(51, 51, 51, 0.5);

    --gap-main-grid: 22px;


    --main-color-gray: #0d1429;
    --main-color-pink: #ea00d5;
    --main-color-purple: #3d5eff;
    --main-color-blue: #00eaf2;

    --main-background: linear-gradient(
        90deg,
        var(--main-color-gray),
        var(--main-color-pink)
    );

    --scrollbar-gradient: linear-gradient(
        var(--main-color-blue),
        var(--main-color-pink)
    );
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'TT Octosquares';
}

body {
    background-color: #22202f;
}

.layout {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.content {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
}

.blob {
    position: absolute;
    z-index: -99;
    filter: blur(5px);

    &:nth-of-type(2) {
        width: 45%;
        bottom: -50px;
        right: -100px;
        animation: blob_1 20s ease-in-out infinite reverse
        ;
    }

    &:nth-of-type(3) {
        width: 45%;
        bottom: 0;
        left: -100px;
        animation: blob_2 40s ease-in-out infinite reverse;
    }
    &:nth-of-type(4) {
        width: 45%;
        top: -200px;
        left: 30%;
        animation: blob_2 40s ease-in-out infinite reverse;
    }
    &:nth-of-type(5) {
        width: 45%;
        bottom: 0%;
        right: 5%;
        animation: blob_2 40s ease-in-out infinite reverse;
    }
}

@for $i from 1 through 12 {
    .col-#{$i} { 
        grid-column: span $i;
        overflow-y: hidden;
    }
}

.content {
    flex-grow: 1;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 5px;

    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-gradient);
    border-radius: 6px;
}

#logo-container svg {
    width: 250px;
    height: auto;
}

.login_form {
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
    .input_wrapper {
        display: flex;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        label {
            font-size: 20px;
            color: #ffffff;
        }
        input {
            padding: 5px 15px;
            font-size: 20px;
            background: transparent;
            border: none;
            color: #ffffff;
        }
    }

    button {
        width: 100%;
        color: white;
        cursor: pointer;
        padding: 20px 100px;
        font-size: 26px;
        font-weight: bold;
        background: rgb(0, 234, 242);
        background: linear-gradient(
            90deg,
            rgba(0, 234, 242, 0.7) 0%,
            rgba(61, 94, 255, 0.7) 27%,
            rgba(234, 0, 213, 0.7) 100%
        );
        border-radius: 8px;
    }
}
.btn_meta {
    max-width: 500px !important;
    width: 100%;
    position: relative;
    border: 1px solid transparent;
    border-radius: 5px;
    background: #21273e;
    background-clip: padding-box;
    color: white;
    cursor: pointer;
    padding: 20px 100px;
    font-size: 24px;
    font-weight: bold;
    &:before {
        position: absolute;
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        background: linear-gradient(
            181.96deg,
            #0cbdcc -3.28%,
            #5f74d2 48.13%,
            #cc15d9 102.25%
        );
        content: '';
        z-index: -2;
        border-radius: 5px;
    }
}

.login_wrapper {
    width: 100vw;
    min-height: 100vh;
    background: url('../assets/background.jpg') no-repeat center center / cover;
}

// for TransitionGroup

.login_video {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../assets/background.jpg') no-repeat center center / cover;
    overflow: hidden;
    margin: 0;
    padding: 0;
    overflow: hidden;
    video {
        width: 100vw;
        //height: 100vh;
        opacity: 1;
        transition: opacity 1s linear;
        &.exiting {
            opacity: 0;
            transition: opacity 1s linear;
        }
    }
}

.transition-enter-active {
    animation: fade-in-top 0.5s forwards;
    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        background: linear-gradient(
            90.26deg,
            rgba(3, 230, 243, 0.17) 2.73%,
            rgba(48, 127, 253, 0.23) 53.67%,
            rgba(194, 24, 223, 0.44) 96.23%
        );
        z-index: -1;
        animation: fade-out 2s forwards;
    }
}

@keyframes fade-in-top {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-out {
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes blob_1 {
    0% {
        transform: translateY(0%, 0%);
    }
    20% {
        transform: translate(10%, 10%);
    }
    40% {
        transform: translate(10%, 0%);
    }
    60% {
        transform: translate(0%, -10%);
    }
    80% {
        transform: translate(-10%, 0%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes blob_2 {
    0% {
        transform: translateY(0%, 0%);
    }
    20% {
        transform: translate(-10%, -10%);
    }
    40% {
        transform: translate(-10%, 0%);
    }
    60% {
        transform: translate(0%, -10%);
    }
    80% {
        transform: translate(-10%, 0%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}
