@import './breakpoints';

.main {
    width: 100%;
    height: 100%;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(12, 1fr);
    column-gap: var(--gap-main-grid);
    padding-inline: var(--gap-main-grid);
    padding-top: 30px;
    padding-bottom: 10px;

    .content {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        overflow: hidden;

        .dropdowns {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: var(--gap-main-grid);
        }

        &_videos {
            overflow-y: scroll;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            column-gap: var(--gap-main-grid);
            row-gap: 20px;

            &::-webkit-scrollbar-thumb {
                background: transparent; 
              }
              &:hover {
                &::-webkit-scrollbar-thumb {
                    background: var(--scrollbar-gradient);
                    border-radius: 6px;
                  }
                
              }
        }
    }
}