.main {
    width: 100%;
    height: 100%;
    display: grid;
    overflow: hidden;
    grid-template-columns: minmax(400px, 1fr) minmax(1000px, 2fr);
    column-gap: 15px;

    .content {
        display: grid;
        padding: 15px;
        row-gap: 9px;
        overflow: hidden;

        .dropdowns {

            display: flex;
            justify-content: space-between;
            overflow-x: scroll;
        }

        &__videos {

            overflow-y: scroll;
            display: flex;
            flex-wrap: wrap;
            gap: 23px;
            padding: 5px;
        }
    }
}
