.launchpad_navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navigation_buttons {
        .button:hover {
            background: linear-gradient(273.52deg, rgba(0, 234, 242, 0.327) -54.44%, rgba(234, 0, 215, 0.393) 110.67%);
        }

        display: flex;

        .button {
            display: flex;
            align-items: center;
            margin-right: 27px;
            padding: 10px 15px;
            transition: all .3s ease-in-out;
            background: rgba(85, 85, 85, 0.14);
            backdrop-filter: blur(11.2278px);
            border: solid;
            border-image-slice: 1;
            border-width: 2px;
            border-image-source: linear-gradient(to left, rgba(234, 0, 213, 0.27), rgba(112, 119, 229, 1));
            cursor: pointer;

            .button_img {
                margin-right: 25px;
            }

            .button_title {
                font-weight: 400;
                font-size: 18px;
                color: white;
            }
        }
    }
}