$border-size: .2rem;
$border-size-small: .15rem;

.tab {
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    border-color: transparent;
    border-bottom-style: solid;

    &.active {
        background-color: rgba(17, 17, 17, 0.7);
        border-color: #CC61FF
    }

    &.large {
        padding: .9rem 1rem calc(.9rem - $border-size) 1rem;
        font-size: 20px;
        line-height: 28px;
        border-bottom-width: $border-size;
    }

    &.small {
        padding: .7rem .8rem calc(.7rem - $border-size-small) .8rem;
        font-size: 15px;
        line-height: 21px;
        border-bottom-width: $border-size-small;
    }
}


