@import '@/styles/theme';

.header {
    width: 100vw;
    height: 55px;
    font-size: 14px;
    font-weight: 600;
    box-sizing: border-box;
    position: relative;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    position: relative;
    z-index: 11;

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        inset: 0;
        position: absolute;
        background: var(--dark-glass);
        z-index: -2;
    }

   
    @include light {
        &::after {
            content: '';
            width: 100%;
            height: 100%;
            inset: 0;
            position: absolute;
            background: linear-gradient(269.91deg, rgba(4, 223, 243, 0.33) -28.06%, rgba(56, 105, 254, 0.33) 71.39%, rgba(206, 15, 219, 0.33) 156.95%);;
            z-index: -1;
        }
    
    }


    &__logo {
        cursor: pointer;
        margin-top: 5px;
    }

    // .navigation {
    //     width: 5vw;
    //     height: 100%;
    //     img {
    //         background-color: #1515;
    //     }
    //     img:nth-child(2) {
    //         transform: rotateY(180deg);
    //     }
    // }

    &__search {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            background: url('../../assets/icons/search.svg') no-repeat center
                center/cover;
            left: 20px;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 15px;
            height: 15px;
            opacity: .5;
        }

        input {
            width: 30vw;
            height: 35px;
            padding: 10px 10px 10px 35px;
            background: var(--dark-violet);
            @include light {
                background:  rgba(34, 32, 47, 0.44);;
            }
            border: none;
            color: #fff;
            

            &::placeholder {
                color: #fff;
                opacity: 0.5;
                font-size: 16px;
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 25px;
                height: 25px;
                background-size: cover;
            }
        }
    }

    &__right {
        display: flex;
        flex-direction: row;
        gap: 50px;

        &_dropdowns {
            display: flex;
            gap: 25px;
            list-style: none;
            color: #fff;

            &_item {
                display: flex;
                align-items: center;
                gap: 8px;
                @keyframes span {
                    from {
                        -webkit-mask-position: 150%;
                    }
            
                    to {
                        -webkit-mask-position: -50%;
                    }
                }
                &:hover {
                    cursor: pointer;
                    font-size: 14px;
                    font-size: 600;
                    background: linear-gradient(
                        270deg,
                        #ea00d5 -6.27%,
                        #3d5eff 60.51%,
                        #00eaf2 69.84%
                    );
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    mask-image: linear-gradient(
                        -75deg,
                        rgba(0, 0, 0, 0.6) 30%,
                        #000 50%,
                        rgba(0, 0, 0, 0.6) 70%
                    );
                    -webkit-mask-image: linear-gradient(
                        -75deg,
                        rgba(0, 0, 0, 0.6) 30%,
                        #000 50%,
                        rgba(0, 0, 0, 0.6) 70%
                    );
                    mask-size: 200%;
                    -webkit-mask-size: 200%;
                    animation: span 2s infinite;
                }

                img {
                    margin-top: 3px;
                    width: 15px;
                }
            }
        }

        &_icons {
            display: flex;
            align-items: center;
            gap: 15px;

            &:hover {
                cursor: pointer;
            }
        }
    }
}
