.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #000;

    li {
        width: 25vw;
        min-height: 50px;
        height: 6vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-weight: 400;
        font-size: 20px;
        gap: 10px;

        img {
            width: 27px;
            height: 25px;
        }

        &:hover {
            border-top: 2px solid var(--main-color-pink);
            border-right: 2px solid var(--main-color-pink);
            border-left: 2px solid var(--main-color-pink);
            border-bottom: 2px solid var(--main-color-blue);

            cursor: pointer;
        }
    }
    a {
        text-decoration: none;
    }
}

.active {
    background: linear-gradient(
        273.52deg,
        rgba(0, 234, 242, 0.2) -54.44%,
        rgba(234, 0, 213, 0.2) 110.67%
    );
    border-top: 2px solid var(--main-color-pink);
    border-right: 2px solid var(--main-color-pink);
    border-left: 2px solid var(--main-color-pink);
    border-bottom: 2px solid var(--main-color-blue);
}
