.community_item {
    border-bottom: 1px solid rgba(45, 53, 74, 1);
    height: 400px;
    width: 100%;
    padding-right: 20px;
    margin-top: 20px;

    .community_item_userdata {
        display: flex;
        align-items: center;

        .community_item_avatar {
            margin-right: 16px;
            align-self: flex-start;
            margin-top: 10px;
        }

        .community_item_details {
            .community_item_details_info {
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                width: fit-content;

                .community_item_details_name {
                    .name {
                        color: #FFFFFF;
                        font-size: 20px;
                    }
                }

                .community_item_details_date {
                    .submission_time {
                        color: #8E8E8E;
                        font-size: 14px;
                        margin-left: 20px;
                    }
                }
            }

            .community_item_details_comment {
                margin-top: 17px;

                .comment {
                    color: #FFFFFF;
                    font-size: 18px;
                    font-weight: 350;
                }
            }

            .community_item_details_likes {
                display: flex;
                align-items: center;
                margin: 24px 0 30px 0;

                .like {
                    margin-right: 11px;
                }

                .like,
                .dislike {
                    cursor: pointer;
                }

                .likeAmount {
                    color: #8E8E8E;
                    font-size: 16px;
                    margin-right: 53px;
                }
            }

            .comment_img {
                margin: 30px 0 60px 0;
            }
        }
    }
}