.container {
    width: 24%;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    background: black;
    box-shadow: 0px 0px 27.6433px rgba(105, 0, 255, 0.06),
        inset 0px 0px 19.2776px rgba(255, 255, 255, 0.21);
    svg {
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;
        filter: blur(100px);
        opacity: 0.7;
    }
    .imgBlock {
        display: flex;
        width: 100%;
        height: 230px;
        background-color: white;
        overflow: hidden;
        .img {
            width: 100%;
            height: 100%;
        }
    }
    .info {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 15px 0;
        font-size: 11px;
        .logo {
            width: 40px;
            height: 40px;
            background-color: white;
            border-radius: 25px;
        }
        .name {
            font-size: 14px;
        }
        .size {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 2px;
            p::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 0.5px;
                background: linear-gradient(
                    to right,
                    #d70bda,
                    #ffc240,
                    #649bff,
                    #ffc240,
                    #abdd42,
                    #07ffff,
                    #0f50c7,
                    #d70bda
                );
                left: 0;
                top: 53%;
            }
        }
        .date {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 2px;
            p::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 0.5px;
                background: linear-gradient(
                    to right,
                    #d70bda,
                    #ffc240,
                    #649bff,
                    #ffc240,
                    #abdd42,
                    #07ffff,
                    #0f50c7,
                    #d70bda
                );
                left: 0;
                top: 53%;
            }
        }
    }
    .spots {
        .progress {
            width: 100%;
            height: 5px;
            background: linear-gradient(to right, #ea00d5 30%, #2c2c35 0%);
        }
        .info {
            line-height: 0;
            display: flex;
            justify-content: space-between;
            div {
                display: flex;
                gap: 20px;
            }
        }
    }
    .btn {
        width: 50%;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(
            to right,
            rgba(1, 167, 255, 0.1),
            rgba(255, 0, 245, 0.1)
        );
        padding: 5px;

        button {
            width: 100%;
            font-size: 18px;
            background-color: black;
            color: white;
            padding: 7px 25px;
            background: linear-gradient(
                106.95deg,
                rgba(1, 167, 255, 0.8) 0.4%,
                rgba(255, 0, 245, 0.8) 103.58%
            );
            padding: 5px;
            border: none;
        }
    }
}
